<link rel="stylesheet" href="/stylesheets/contact.css">
<% layout('layouts/boilerplate') %>



    <div class="container">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 ">
            <div class="col">
                <div class="card radius-15 bg-primary">
                    <div class="card-body text-center">
                        <div class="p-4 radius-15">
                            <img src="https://i.postimg.cc/L8CT9WsR/Whats-App-Image-2021-11-25-at-12-01-29-AM.jpg" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                            <h5 class="mb-0 mt-5 text-white">Talha Uddin Al-Amin</h5>
                            <p class="mb-3 text-white">Student</p>
                            <div class="list-inline contacts-social mt-3 mb-3"> <a href="https://www.facebook.com/Talha.BlackSpider/" class="list-inline-item border-0"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/talhaa_ss_gram/" class="list-inline-item border-0"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/talha-uddin-al-amin-40107a253/" class="list-inline-item border-0"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 bg-danger">
                    <div class="card-body text-center">
                        <div class="p-4 radius-15">
                            <img src="https://i.postimg.cc/NFFCYrhG/318454802-861674891635013-1691254873926910524-n.jpg" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                            <h5 class="mb-0 mt-5 text-white">Fazle Rabbi</h5>
                            <p class="mb-3 text-white">Student</p>
                            <div class="list-inline contacts-social mt-3 mb-3">
                                <a href="https://www.facebook.com/rabbi.neub" class="list-inline-item border-0"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="https://www.facebook.com/rabbi.neub" class="list-inline-item border-0">
                                    <i class="fa fa-instagram"></i></a>
                                <a href="javascript:;" class="list-inline-item border-0"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 bg-warning">
                    <div class="card-body text-center">
                        <div class="p-4 radius-15">
                            <img src="https://i.postimg.cc/P5bvrLfH/Whats-App-Image-2022-12-12-at-20-12-13.jpg" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
                            <h5 class="mb-0 mt-5 text-dark">Rabbani Joy</h5>
                            <p class="mb-3 text-dark">Student</p>
                            <div class="list-inline contacts-social mt-3 mb-3">
                                <a href="https://www.facebook.com/profile.php?id=100010942564464&mibextid=ZbWKwL" class="list-inline-item border-0"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/sad_cherry_z/" class="list-inline-item border-0"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="javascript:;" class="list-inline-item border-0"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>